################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/BlueOcean/config/applicationhost.config
